<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form th:action="login" th:method="post">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td><label>Account</label></td>
                <td><input type="text" name="account" /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><button type="submit">Login</button></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>